@{
    ViewData["Title"] = "Política de Privacidad de Incomel";
}
<h1>@ViewData["Title"]</h1>

<h5>Prueba Técnica - Analista Programador</h5>

<p>Este es la elaboración de una prueba técnica confidencial del Departamento de Sistemas/Desarrollo en la que fue necesario desarrollar una aplicación web con distintas funcionalidades y requerimientos, establecidas en un documento también confidencial.</p>