
@{
	ViewData["Title"] = "Palindromes";
}

<h1>Palíndromos</h1>

<div class="form-group">
	<label class="control-label"></label>
	<input id="palindromes-input" class="form-control" />

	<button onclick="palindromes()">Hey</button>

	<br/>

	<ul id="item-list">
		@*Dynamic list*@
	</ul>
</div> 